#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgb(224, 230, 239);
  margin: 16px;
  color: #5a749a;
}

.ant-layout{
  height: auto;
  min-height: 100%;
  overflow: hidden;
}