.header-box{
  width: 100%;
  padding: 20px 0;
}
.header-box .header-container{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0px rgba(0,0,0,0.12);
}
.header-box .header-bg{
  position: absolute;
  width: 100%;
  filter: blur(0.5px);
}
.header-box .header-content{
  position: relative;
  text-align: center;
  font-size: 18px;
  color: #deffdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 4px;
  height: 100%;
}